.event-container-position {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-container {
    width: 90%;
    margin: 2%;
    border: 2px solid rgb(132, 142, 125);
    border-radius: 10px;
    border-style: dashed;
    background-color: white;
}

.event-container-resized {
    width: 100%;
    margin: 1% 2%;
    border: 2px solid rgb(132, 142, 125);
    border-radius: 10px;
    border-style: dashed;
    background-color: white;
}

.event-details {
    height: 340px;
    text-align: center;
}

.event-details-text-container {
    margin-top: 50px;
    margin-left: 0;
}

.profile-details {
    height: 340px;
    text-align: left;
}

.profile-description {
    height: 340px;
    text-align: left;
}

.event-section-navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.event-section-navigation {
    background-color: rgb(168, 181, 158);
    color: rgb(252, 249, 235);
    border: 1px solid rgb(168, 181, 158);
    border-radius: 7px;
    height: 40px;
    margin: 1%;
}

.event-section-navigation:hover {
    border: 1px solid rgb(132, 142, 125);
    background-color: rgb(132, 142, 125);
}

.event-date {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: rgb(252, 249, 235);
    background-color: rgb(168, 181, 158);
    width: 100%;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(132, 142, 125);
}

.event-section-title-name {
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(132, 142, 125);
}

.event-section-text {
    color: black;
    margin-left: 4%;
    font-size: 18px;
    font-weight: bold;
}

.event-description-text-container {
    width: 90%;
    margin: 0 auto;
}

.event-description-text {
    color: black;
    font-size: 18px;
}

.type-event-image-container {
    text-align: center;
}

.event-type-image {
    width: 50px;
}

.event-part-no-display {
    display: none;
}