.customer-visit-container {
    border: 2px solid rgb(132, 142, 125);
    background-color: white;
    border-radius: 10px;
    border-style:  dashed;
    width: 350px;
    height: 230px;
    margin: 3% auto;
}

.customer-visit-date {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(252, 249, 235);
    background-color: rgb(168, 181, 158);
    width: 100%;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.customer-visit-section-text-container {
    margin-top: 5%;
    text-align: center;
}

.customer-visit-section-text {
    font-size: 18px;
    margin-left: 5%;
    font-weight: bold;
}

.customer-visit-section-title-name {
    font-weight: bold;
    font-size: 16px;
    color: rgb(132, 142, 125);
}

.delete-customer-visit {
    background-color: rgb(168, 181, 158);
    border: 1px solid rgb(168, 181, 158);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 300px;
    margin: 2%;
}

.delete-customer-visit:hover {
    background-color: rgb(132, 142, 125);
    border: 1px solid rgb(132, 142, 125);
}

.customer-secure-delete-visit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
}

.customer-visit-no-display {
    display: none;
}
