.quotes-label-text {
    color:rgb(132, 142, 125);
    font-weight: bold;
    margin: 2%
}

.input-quotes-form {
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: 40px;
    width: 250px;
    margin-bottom: 1%;
}

.quotes-form-button {
    background-color: rgb(168, 181, 158);
    border: 1px solid rgb(168, 181, 158);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    height: 40px;
    margin: 2%;
}

.quotes-text {
    font-weight: bold;
    font-size: 70px
}


.quotes-no-display {
    display: none;
}